@import '../../../styles/modules/tab';
@import '../../../styles/modules/message';

.nav {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(212, 206, 171);
    padding: 10px 50px;
    margin: 10px 15px;
    max-height: 28px;
    color: rgb(0, 46, 110);
    box-shadow:1px 1px 4px 4px rgb(235, 227, 175);
}

.nav > div {
    margin: 0 10px;
}

.logged, .not-logged {
    display: flex;
}

.logo {
    width: 40px;
}

.logo img {
    width: 100%;
}

.dropdown:hover {
    cursor: context-menu;
}

a {
    color: rgb(0, 46, 110);;
}