@import "../../../styles/base/variables";
@import "../../../styles/modules/badge";
@import "../../../styles/modules/message";

.nav {
    display: flex;
    gap: 10%;
    justify-content: space-between;
    padding: getParam(paddings, normal) getParam(paddings, large);
    color: getParam(colors, field, fore);
    background-color: getParam(colors, field, back);
    max-height: $nav-height;
    font-size: getParam(fonts, size, normal);
    margin: $nav-margin 0;

    > div {
        display: flex;
        align-self: center;
    }

    > div:nth-child(2) {
        > div {
            display: flex;
        }

        &.hamMenu {
            display: flex;
            flex-direction: column;
        }
    }

    .hamburger {
        display: none;
        font-size: getParam(fonts, size, huge);
        align-self: center;

        fa-icon {
            font-size: 100%;
            cursor: pointer;
            color: getParam(colors, field, fore);

            &:hover {
                color: getParam(colors, field, hover, fore);
            }
        }
    }

    .tab {
        display: grid;
        grid-template-columns: auto 1fr;

        color: getParam(colors, field, fore);
        padding: $tab-padding;
        text-align: center;
        font-size: $tab-font;

        .icon {
            margin: 0 getParam(margins, small);
        }

        a {
            color: getParam(colors, field, fore);
        }

        &:hover {
            cursor: pointer;
            background-color: getParam(colors, field, hover, back);
            color: getParam(colors, field, hover, fore);

            a {
                background-color: getParam(colors, field, hover, back);
                color: getParam(colors, field, hover, fore);
            }
        }
    }

    .bell {
        color: getParam(colors, field, fore);

        .icon {
            margin: 0;
        }
    }
}

// -------------------------- Laptop --------------------------

@media only screen and (max-width: getParam(media, laptop)) {
}

// -------------------------- Tablet --------------------------

@media only screen and (max-width: getParam(media, tablet, landscape)) {
    .nav {
        padding: getParam(paddings, normal) 1rem;

        > div:nth-child(2) {
            display: none;
        }

        .hamburger {
            display: block;
        }
    }
}

@media only screen and (max-width: getParam(media, tablet, portrait)) {
}

// -------------------------- Smartphone --------------------------

@media only screen and (max-width: getParam(media, smartphones, landscape)) {
}

@media only screen and (max-width: getParam(media, smartphones, portrait)) {
}
