.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(173, 194, 211);
    padding: 5px 50px;
}

.nav > div {
    margin: 5px 10px -5px 10px;
    cursor: pointer;
}

.item {
    text-decoration: none;
    padding: 5px 7px;
}

.item:hover{
    border: 2px solid rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    
}

.logo {
    width: 25px;
}

.logo img {
    width: 100%;
}