<div class="nav">
    <div class="logo tab">
        <a routerLink="/" class="logo">
            <!-- <img src="../../../assets/icons/logo.png" alt="{{menu.logo}}"> -->
            {{menu.logo.name}}
        </a>
    </div>
    <div *ngIf="isLogged" class="logged">
        <!-- ^^^^^^^^^^^^^^ Admin ONLY ^^^^^^^^^^^^^^ -->
        <div *ngIf="isAdmin" class="tab dropdown">
            <app-dropdown class="element" [input]="adminDropdown" routerLink="/admin"></app-dropdown>
        </div>
        <!-- ^^^^^^^^^^^^^^ Admin ONLY ^^^^^^^^^^^^^^ -->
        <div class="tab dropdown">
            <app-dropdown class="element" [input]="managerDropdown"></app-dropdown>
        </div>
        <div class="tab">
            <fa-icon class="icon" [icon]="icons.profile"></fa-icon>
            <a class="profile element" routerLink="/profile">{{menu.profile.name}}</a>
        </div>
        <div class="tab">
            <fa-icon class="icon" [icon]="icons.logout"></fa-icon>
            <a class="logout element" (click)="openConfirmPopup()">{{menu.logout.name}}</a>
        </div>
    </div>
    <div *ngIf="!isLogged" class="not-logged">
        <div class="tab">
            <fa-icon class="icon" [icon]="icons.login"></fa-icon>
            <a class="login element" routerLink="/login">{{menu.login.name}}</a>
        </div>
        <div class="tab">
            <fa-icon class="icon" [icon]="icons.register"></fa-icon>
            <a class="register element" routerLink="/register">{{menu.register.name}}</a>
        </div>
    </div>
    <div>
        <div class="tab dropdown">
            <app-dropdown class="element" [input]="languageDropdown"></app-dropdown>
        </div>
        <div class="tab badge bell" (click)="notificationToggle()">
            <fa-icon class="icon" [data-count]="notificationCount" [icon]="icons.bell"></fa-icon>
        </div>
    </div>
    <!-- mobile -->
    <!-- <div class="hamburger" (click)="openTabMenu()">
        <fa-icon class="badge" [icon]="icons.hamburger"></fa-icon>
    </div> -->
</div>

<!-- -------------- free items -------------- -->
<div *ngIf="message" class='message'>
    <div class="content">{{message}}</div>
    <div *ngIf="message" class="remove" (click)="removeMessage()">
        <fa-icon class="badge" [icon]="icons.close"></fa-icon>
    </div>
</div>
<!-- -------------- popup items -------------- -->

<app-popup [input]="confirmPopup"></app-popup>

<!-- TODO: needs to be displayed only in tablet or mobile mode -->
<app-tab-menu [visible]="tabMenu" class="tab-menu"></app-tab-menu>