<div class="pagination">

    <a [class.disabled]="pagerService.model.pageNumber === 1" class="arrow" (click)="pageClick(1)">
        <fa-icon [icon]="arrows.leftDouble"></fa-icon>
    </a>

    <a [class.disabled]="pagerService.model.pageNumber === 1" class="arrow"
        (click)="pageClick(pagerService.model.pageNumber - 1)">
        <fa-icon [icon]="arrows.left"></fa-icon>
    </a>

    <div class="pages">
        <a [class.selected]="page === pagerService.model.pageNumber" class="page" (click)="pageClick(page)"
            *ngFor="let page of pager.numbers">{{page}}</a>
    </div>

    <a [class.disabled]="pagerService.model.pageNumber === pagerService.model.totalPages" class="arrow"
        (click)="pageClick(pagerService.model.pageNumber + 1)">
        <fa-icon [icon]="arrows.right"></fa-icon>
    </a>

    <a [class.disabled]="pagerService.model.pageNumber === pagerService.model.totalPages" class="arrow"
        (click)="pageClick(pagerService.model.totalPages)">
        <fa-icon [icon]="arrows.rightDouble"></fa-icon>
    </a>

</div>