<div class="pagination">
    <div class="content">
        <span [class.disabled]="pagerService.model.pageNumber === 1" class="arrow-wrapper" (click)="pageClick(1)">
            <a class="arrow">&laquo;</a>
        </span>
        <span [class.disabled]="pagerService.model.pageNumber === 1" class="arrow-wrapper" (click)="pageClick(pagerService.model.pageNumber - 1)">
            <a class="arrow">&#8592;</a>
        </span>
    
        <span class="page-wrapper" (click)="pageClick(page)" *ngFor="let page of pager.numbers">
            <a [class.selected]="page === pagerService.model.pageNumber" class="page">{{page}}</a>
        </span>
    
        <span [class.disabled]="pagerService.model.pageNumber === pagerService.model.totalPages" class="arrow-wrapper" (click)="pageClick(pagerService.model.pageNumber + 1)">
            <a class="arrow">&#8594;</a>
        </span>
        <span  [class.disabled]="pagerService.model.pageNumber === pagerService.model.totalPages"class="arrow-wrapper" (click)="pageClick(pagerService.model.totalPages)">
            <a class="arrow">&raquo;</a>
        </span>
    </div>
</div>