<div class="pagination" *ngIf="pager.visible">

    <a [class.disabled]="pagerService.model.pageNumber === 1" class="arrow" (click)="pageClick(1)">
        <fa-icon [icon]="icons.doubleLeft"></fa-icon>
    </a>

    <a [class.disabled]="pagerService.model.pageNumber === 1" class="arrow"
        (click)="pageClick(pagerService.model.pageNumber - 1)">
        <fa-icon [icon]="icons.left"></fa-icon>
    </a>

    <div class="pages">
        <a [class.selected]="page === pagerService.model.pageNumber" class="page" (click)="pageClick(page)"
            *ngFor="let page of pagesView()">{{page}}</a>
    </div>

    <a [class.disabled]="pagerService.model.pageNumber === pagerService.model.totalPages" class="arrow"
        (click)="pageClick(pagerService.model.pageNumber + 1)">
        <fa-icon [icon]="icons.right"></fa-icon>
    </a>

    <a [class.disabled]="pagerService.model.pageNumber === pagerService.model.totalPages" class="arrow"
        (click)="pageClick(pagerService.model.totalPages)">
        <fa-icon [icon]="icons.doubleRight"></fa-icon>
    </a>

</div>