<div class="container">
    <div class="selfs">
        <div class="no-self" *ngIf="healthCares.length === 0">
            <div *ngFor="let error of serverErrors">
                <p>{{error.description}}</p>
            </div>
        </div>
        <div class="self" *ngFor="let healthCare of healthCares">
            <div *ngIf="healthCare.name">
                <span>{{menu.for}}: {{healthCare.name}}</span>
                <span class="manipulations">
                    <a class="button" (click)="edit(healthCare)">{{menu.edit}}</a>
                    <a class="button" (click)="remove(healthCare.id)">{{menu.delete}}</a>
                </span>
            </div>
            <div *ngIf="healthCare.date">
                <span>{{menu.date}}:</span> {{healthCare.date}}
            </div>
            <div *ngIf="healthCare.reminder">
                <span>{{menu.reminder}}:</span> {{healthCare.reminder}}
            </div>
            <div *ngIf="healthCare.price">
                <span>{{menu.price}}:</span> {{healthCare.price}}
            </div>
            <div *ngIf="healthCare.notes">
                <span>{{menu.notes}}:</span> {{healthCare.notes}}
            </div>
            <div *ngIf="healthCare.company">{{company.label}}</div>
            <div *ngIf="healthCare.company.name">
                <span>{{company.name}}:</span> {{healthCare.company.name}}
            </div>
            <div *ngIf="healthCare.company.phoneNumber">
                <span>{{company.phoneNumber}}:</span> {{healthCare.company.phoneNumber}}
            </div>
            <div *ngIf="healthCare.company.email">
                <span>{{company.email}}:</span> {{healthCare.company.email}}
            </div>
            <div *ngIf="healthCare.company.webSite">
                <span>{{company.webSite}}:</span> {{healthCare.company.webSite}}
            </div>
            <div *ngIf="healthCare.company.address">
                <span>{{company.address}}:</span> {{healthCare.company.address}}
            </div>
        </div>
        <div class="back">
            <a class="button" (click)="back()">{{menu.back}}</a>
        </div>
    </div>
    <div class="creation">
        <div class="form">
            <form #veh="ngForm" (ngSubmit)="save(veh.value)">
                <div class="main">
                    <div class="form-raw">
                        <div>{{menu.for}} <span>{{menu.required}}</span></div>
                        <div *ngIf="this.selectedLang === 'bg'">
                            <select name="name" [(ngModel)]="defaultHealthCares.name">
                                <option *ngFor="let name of names.bg" [value]="name">{{name}}</option>
                            </select>
                        </div>
                        <div *ngIf="this.selectedLang === 'en'">
                            <select name="name" ngModel [(ngModel)]="defaultHealthCares.name">
                                <option *ngFor="let name of names.en" [value]="name">{{name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-raw">
                        <div>{{menu.date}}</div>
                        <input  type="date" name="date" [(ngModel)]="defaultHealthCares.date">
                    </div>

                    <div class="form-raw">
                        <div>{{menu.reminder}}</div>
                        <input type="date" name="reminder"
                            [(ngModel)]="defaultHealthCares.reminder">
                    </div>

                    <div class="form-raw">
                        <div>{{menu.price}}</div>
                        <input type="number" name="price" [(ngModel)]="defaultHealthCares.price">
                    </div>

                    <div class="form-raw">
                        <div>{{menu.notes}}</div>
                        <textarea type="text" name="notes" [(ngModel)]="defaultHealthCares.notes"></textarea>
                    </div>

                    <div *ngIf="healthCares.length > 0">
                        <div *ngFor="let error of serverErrors">
                            <p>{{error.description}}</p>
                        </div>
                    </div>

                    <div>
                        <button [disabled]="veh.invalid">{{menu.save}}</button>
                    </div>
                </div>
                <div class="company">
                    <div class="form-raw">
                        <div>{{company.label}}</div>
                        <div>{{company.name}}</div>
                        <div *ngIf="this.selectedLang === 'bg'">
                            <select name="name" [(ngModel)]="defaultHealthCares.company.name" ngModelGroup="company"
                                class="dropdown">
                                <option *ngFor="let companyName of companyNames.vehicle.bg" [value]="companyName">
                                    {{companyName}}</option>
                            </select>
                        </div>
                        <div *ngIf="this.selectedLang === 'en'">
                            <select name="name" [(ngModel)]="defaultHealthCares.company.name" ngModelGroup="company"
                                class="dropdown">
                                <option *ngFor="let companyName of companyNames.vehicle.en" [value]="companyName">
                                    {{companyName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-raw">
                        <div>{{company.phoneNumber}}</div>
                        <input type="text" name="phoneNumber" [(ngModel)]="defaultHealthCares.company.phoneNumber"
                            ngModelGroup="company">
                    </div>

                    <div class="form-raw">
                        <div>{{company.email}}</div>
                        <input type="text" name="email" [(ngModel)]="defaultHealthCares.company.email"
                            ngModelGroup="company">
                    </div>

                    <div class="form-raw">
                        <div>{{company.webSite}}</div>
                        <input type="text" name="webSite" [(ngModel)]="defaultHealthCares.company.webSite"
                            ngModelGroup="company">
                    </div>

                    <div class="form-raw">
                        <div>{{company.address}}</div>
                        <input type="text" name="address" [(ngModel)]="defaultHealthCares.company.address"
                            ngModelGroup="company">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>