@import '../../../styles/modules/form';

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100%;
    grid-template-areas:
      ". a a .";
}
.form {
    margin-top: min(50px);
    grid-area: a;
    align-self: center;
    justify-self: center;
}

.register {
    margin-top: 1rem;
    cursor: pointer;
    font-size: getParam(fonts, size, tiny);
}

.register:hover {
    font-weight: bolder;
}