<div class="container">
    <div class="form">
        <form #log="ngForm" (ngSubmit)="login(log.value)">
            <div class="title">{{menu.title}}</div>
            <div class="field">
                <div class="label">{{menu.username}}</div>
                <input #usernameInput="ngModel" type="text" name="username" ngModel required>
                <p class="validation" *ngIf="usernameInput.errors?.required && usernameInput.touched">{{validations.requiredUsername}}</p>
            </div>
        
            <div class="field">
                <div class="label">{{menu.password}}</div>
                <input #passwordInput="ngModel" type="password" name="password" ngModel required minlength="6">
                <p class="validation" *ngIf="passwordInput.errors?.required && passwordInput.touched">{{validations.requiredPassword}}</p>
                <p class="validation" *ngIf="passwordInput.errors?.minlength && passwordInput.touched">{{validations.passwordLength}}</p>
            </div>
    
            <div *ngFor="let error of errors">
                <p class="validation">{{error}}</p>
            </div>
    
            <div>
                <button class="button" [disabled]="log.invalid">{{menu.signIn}}</button>
            </div>
        </form>
        <div class="register" (click)="redirect('register')">{{menu.notRegistered}}</div>
    </div>
</div>
