<div class="company">
    <div class="title">{{menu.label}}</div>
    <div class="from-field">
        <div class="label">{{menu.name}} 
            <span *ngIf="
        ((company.phoneNumber !== undefined && company.phoneNumber !== '') ||
        (company.email !== undefined && company.email !== '') ||
        (company.webSite !== undefined && company.webSite !== '') ||
        (company.address !== undefined && company.address !== ''))
            " class="requiredInput">{{menu.required}}</span>
        </div>
        <!-- <div>
            <app-s-dropdown [input]="dropdown"></app-s-dropdown>
        </div> -->
        <div *ngIf="this.selectedLang === 'bg'">
            <select name="name" [(ngModel)]="company.name">
                <option *ngFor="let companyName of companyNames.vehicle.bg" [value]="companyName">
                    {{companyName}}</option>
            </select>
        </div>
        <div *ngIf="this.selectedLang === 'en'">
            <select name="name" [(ngModel)]="company.name">
                <option *ngFor="let companyName of companyNames.vehicle.en" [value]="companyName">
                    {{companyName}}</option>
            </select>
        </div>
    </div>

    <div class="from-field">
        <div class="label">{{menu.phoneNumber}}</div>
        <input #phoneNumberInput="ngModel" type="text" name="phoneNumber" [(ngModel)]="company.phoneNumber">
        <p class="validation" *ngIf="phoneNumberInput.touched && 
        company.name === undefined && 
        company.phoneNumber != '' &&
        company.phoneNumber != undefined">
            {{validations.companyNameRequired}}</p>
    </div>

    <div class="from-field">
        <div class="label">{{menu.email}}</div>
        <input #emailInput="ngModel" type="text" name="email" [(ngModel)]="company.email" email>
        <p class="validation" *ngIf="emailInput.touched && 
        emailInput?.errors?.email">
            {{validations.invalidEmail}}</p>
        <p class="validation" *ngIf="emailInput.touched && 
        company.name === undefined && 
        company.email != '' &&
        company.email != undefined">
            {{validations.companyNameRequired}}</p>
    </div>

    <div class="from-field">
        <div class="label">{{menu.webSite}}</div>
        <input #webSiteInput="ngModel" type="text" name="webSite" [(ngModel)]="company.webSite">
        <p class="validation" *ngIf="webSiteInput.touched && 
        company.name === undefined && 
        company.webSite != '' &&
        company.webSite != undefined">
            {{validations.companyNameRequired}}</p>
    </div>

    <div class="from-field">
        <div class="label">{{menu.address}}</div>
        <input #addressInput="ngModel" type="text" name="address" [(ngModel)]="company.address">
        <p class="validation" *ngIf="addressInput.touched && 
        company.name === undefined && 
        company.address != '' &&
        company.address != undefined">
            {{validations.companyNameRequired}}</p>
    </div>

</div>
