@import url(../../../../css/_form.scss);

.company {
    padding: 10px 30px;
    background-color: rgb(240, 237, 227);
    text-align: center;
}

select, input, textarea {
    border: 1px solid rgb(170, 162, 122);
}