$options: (
    borders: (
        area: (
            thickness: 0.15rem,
            style: solid,
            rounding: 0.2rem,
            hover: (
                thickness: 0,
                style: solid,
                rounding: 0.2rem,
            ),
        ),
        field: (
            thickness: 0.1rem,
            style: solid,
            rounding: 0.2rem,
            hover: (
                thickness: 1px,
                style: solid,
                rounding: 0.2rem,
            ),
        ),
        action: (
            thickness: 0.05rem,
            style: solid,
            rounding: 0.2rem,
            hover: (
                thickness: 0px,
                style: solid,
                rounding: 0.2rem,
            ),
        ),
    ),
    margins: (
        tiny: 0.1rem,
        small: 0.3rem,
        normal: 0.5rem,
        large: 1rem,
        huge: 1.2rem,
    ),
    paddings: (
        tiny: 0.1rem,
        small: 0.3rem,
        normal: 0.5rem,
        large: 1rem,
        huge: 1.2rem,
    ),
    shadows: (
        area: (
            offsetX: 0.0625rem,
            offsetY: 0.0625rem,
            blur: 0.3125rem,
            spread: 0.08125rem,
        ),
        field: (
            offsetX: 0.2rem,
            offsetY: 0.2rem,
            blur: 0.3125rem,
            spread: 0.08125rem,
        ),
        action: (
            offsetX: 0.15rem,
            offsetY: 0.15rem,
            blur: 0.3125rem,
            spread: 0.08125rem,
        ),
    ),
    fonts: (
        font-family: ""Roboto", "sans-serif"",
        line-height: 1.5rem,
        variation: (
            lighter: (
                style: normal,
                weight: 400,
            ),
            normal: (
                style: normal,
                weight: normal,
            ),
            emphasize: (
                style: italic,
                weight: bold,
            ),
        ),
        stretch: null,
        size: (
            tiny: 12px,
            small: 14.4px,
            normal: 16px,
            big: 24px,
            huge: 32px,
        ),
    ),
    constants: (
        textAreaHeight: 1.5rem,
        textFieldHeight: 1.5rem,
        textActionHeight: 1.5rem,
        smallIconSize: 1rem,
        normalIconSize: 1.25rem,
        largeIconSize: 1.75rem,
        factorIncreaseFontH1To6: 0.2rem,
        alertColor: rgb(236, 67, 67),
        successColor: (
            back: cadetblue,
            fore: whitesmoke,
        ),
    ),
);
