$options: (
    colors: (
        forest: (
            backgroundImage: url(../../assets/images/foster-lake.jpg) no-repeat,
            opacity: 1,
            area: (
                fore: rgb(77, 73, 58),
                back: rgb(255, 255, 255),
                active: (
                    fore: rgb(77, 73, 58),
                    back: rgb(255, 255, 255),
                ),
            ),
            field: (
                fore: rgb(99, 95, 76),
                back: rgb(221, 226, 191),
                active: (
                    fore: rgb(99, 95, 76),
                    back: rgb(217, 223, 187),
                ),
                hover: (
                    fore: rgb(99, 95, 76),
                    back: rgb(217, 223, 187),
                ),
            ),
            action: (
                fore: rgb(7, 121, 228),
                back: rgb(185, 211, 236),
                active: (
                    fore: rgb(9, 49, 87),
                    back: rgb(233, 244, 255),
                ),
                hover: (
                    fore: rgb(185, 211, 236),
                    back: rgb(7, 121, 228),
                ),
            ),
        ),
        ice: (
            backgroundImage: url(../../assets/images/ice.jpg) no-repeat,
            opacity: 0.85,
            area: (
                fore: rgb(21, 32, 64),
                back: rgb(226, 244, 255),
                active: (
                    fore: rgb(21, 32, 64),
                    back: rgb(226, 244, 255),
                ),
            ),
            field: (
                fore: whitesmoke,
                back: rgb(21, 32, 64),
                active: (
                    fore: whitesmoke,
                    back: rgb(29, 43, 85),
                ),
                hover: (
                    fore: whitesmoke,
                    back: rgb(29, 43, 85),
                ),
            ),
            action: (
                fore: rgb(7, 121, 228),
                back: rgb(185, 211, 236),
                active: (
                    fore: rgb(9, 49, 87),
                    back: rgb(233, 244, 255),
                ),
                hover: (
                    fore: rgb(185, 211, 236),
                    back: rgb(7, 121, 228),
                ),
            ),
        ),
        jungle: (
            backgroundImage: url(../../assets/images/jungle.jpg) no-repeat,
            opacity: 1,
            area: (
                fore: rgb(21, 32, 64),
                back: rgb(226, 244, 255),
                active: (
                    fore: rgb(21, 32, 64),
                    back: rgb(226, 244, 255),
                ),
            ),
            field: (
                fore: whitesmoke,
                back: rgb(21, 32, 64),
                active: (
                    fore: whitesmoke,
                    back: rgb(29, 43, 85),
                ),
                hover: (
                    fore: whitesmoke,
                    back: rgb(29, 43, 85),
                ),
            ),
            action: (
                fore: rgb(7, 121, 228),
                back: rgb(185, 211, 236),
                active: (
                    fore: rgb(9, 49, 87),
                    back: rgb(233, 244, 255),
                ),
                hover: (
                    fore: rgb(185, 211, 236),
                    back: rgb(7, 121, 228),
                ),
            ),
        ),
        show: (
            backgroundImage: url(../../assets/images/snow.jpg) no-repeat,
            opacity: 0.9,
            area: (
                fore: rgb(21, 32, 64),
                back: rgb(248, 252, 255),
                active: (
                    fore: rgb(21, 32, 64),
                    back: rgb(248, 252, 255),
                ),
            ),
            field: (
                fore: whitesmoke,
                back: rgb(21, 32, 64),
                active: (
                    fore: whitesmoke,
                    back: rgb(29, 43, 85),
                ),
                hover: (
                    fore: whitesmoke,
                    back: rgb(29, 43, 85),
                ),
            ),
            action: (
                fore: rgb(7, 121, 228),
                back: rgb(185, 211, 236),
                active: (
                    fore: rgb(9, 49, 87),
                    back: rgb(233, 244, 255),
                ),
                hover: (
                    fore: rgb(185, 211, 236),
                    back: rgb(7, 121, 228),
                ),
            ),
        ),
    ),
    borders: (
        area: (
            thickness: 0.15rem,
            style: solid,
            rounding: 0.2rem,
            hover: (
                thickness: 0,
                style: solid,
                rounding: 0.2rem,
            ),
        ),
        field: (
            thickness: 0.1rem,
            style: solid,
            rounding: 0.2rem,
            hover: (
                thickness: 1px,
                style: solid,
                rounding: 0.2rem,
            ),
        ),
        action: (
            thickness: 0.05rem,
            style: solid,
            rounding: 0.2rem,
            hover: (
                thickness: 0px,
                style: solid,
                rounding: 0.2rem,
            ),
        ),
    ),
    margins: (
        tiny: 0.1rem,
        small: 0.3rem,
        normal: 0.5rem,
        large: 1rem,
        huge: 1.2rem,
    ),
    paddings: (
        tiny: 0.1rem,
        small: 0.3rem,
        normal: 0.5rem,
        large: 1rem,
        huge: 1.2rem,
    ),
    shadows: (
        area: (
            offsetX: 0.0625rem,
            offsetY: 0.0625rem,
            blur: 0.3125rem,
            spread: 0.08125rem,
        ),
        field: (
            offsetX: 0.2rem,
            offsetY: 0.2rem,
            blur: 0.3125rem,
            spread: 0.08125rem,
        ),
        action: (
            offsetX: 0.15rem,
            offsetY: 0.15rem,
            blur: 0.3125rem,
            spread: 0.08125rem,
        ),
    ),
    fonts: (
        font-family: ""Roboto", "sans-serif"",
        line-height: 1.5rem,
        variation: (
            lighter: (
                style: normal,
                weight: 400,
            ),
            normal: (
                style: normal,
                weight: normal,
            ),
            emphasize: (
                style: italic,
                weight: bold,
            ),
        ),
        stretch: null,
        size: (
            tiny: 12px,
            small: 14.4px,
            normal: 16px,
            big: 24px,
            huge: 32px,
        ),
    ),
    constants: (
        textAreaHeight: 1.5rem,
        textFieldHeight: 1.5rem,
        textActionHeight: 1.5rem,
        smallIconSize: 1rem,
        normalIconSize: 1.25rem,
        largeIconSize: 1.75rem,
        factorIncreaseFontH1To6: 0.2rem,
        alertColor: rgb(236, 67, 67),
        successColor: (
            back: cadetblue,
            fore: whitesmoke,
        ),
    ),
);
