@import "api";

.nav {
    display: flex;
    justify-content: space-around;
    font-size: getParam(fonts, size, normal);
    background-color: getParam(colors, field, back);
    color: getParam(colors, field, fore);
    box-shadow: getShadow(field, getParam(colors, field, back));
    padding: getParam(paddings, normal) 3rem;
    margin: getParam(margins, normal) getParam(margins, large);
    max-height: 1.75rem;
}

.nav:hover {
    background-color: getParam(colors, field, hover, back);
    color: getParam(colors, field, hover, fore);
}

.nav > div {
    margin-left: getParam(margins, huge);
    margin-right: getParam(margins, huge);
}

.logged,
.not-logged {
    display: flex;
}

.logo {
    width: 2.5rem;
}

.logo img {
    width: 100%;
}

.dropdown:hover {
    cursor: context-menu;
}

a {
    color: getParam(colors, field, fore);
}

.hamburger {
    display: none;
    font-size: getParam(fonts, size, huge);
}

// -------------------------- Laptop --------------------------

@media only screen and (max-width: getParam(media, laptop)) {
    .nav {
        display: flex;
        justify-content: space-between;
    }
}

// -------------------------- Tablet --------------------------

@media only screen and (max-width: getParam(media, tablet, landscape)) {
    .nav {
        display: flex;
        justify-content: center;
        font-size: getParam(fonts, size, small);
    }

    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: getParam(media, tablet, portrait)) {
    .tab {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding: getParam(paddings, normal) 1rem;
    }
}

// -------------------------- Smartphone --------------------------

@media only screen and (max-width: getParam(media, smartphones, landscape)) {
}

@media only screen and (max-width: getParam(media, smartphones, portrait)) {
}


@media only screen and (min-width: 601px) {
    .hamburger {
        background-color: chocolate;
        display: none;
    }
}