@import "api";
@import "../modules/badge";

$navHeight: 1.75rem;

.nav {
    display: flex;
    justify-content: space-around;
    font-size: getParam(fonts, size, normal);
    background-color: getParam(colors, field, back);
    color: getParam(colors, field, fore);
    box-shadow: getShadow(field, getParam(colors, field, active, back));
    padding: getParam(paddings, normal) 3rem;
    margin: getParam(margins, normal) getParam(margins, large);
    max-height: $navHeight;

    > div {
        margin-left: getParam(margins, huge);
        margin-right: getParam(margins, huge);
    }

    .logo {
        width: 2.5rem;
        img {
            width: 100%;
        }
    }

    .logged,
    .not-logged {
        display: flex;

        .dropdown:hover {
            cursor: context-menu;
        }
    }
}

.badge {
    position: absolute;
    top: $bellTop;
    right: getParam(margins, large);
    font-size: getParam(fonts, size, big);
    color: getParam(colors, field, fore);
}

a {
    color: getParam(colors, field, fore);
}

.hamburger {
    display: none;
    font-size: getParam(fonts, size, huge);
}

// -------------------------- Laptop --------------------------

@media only screen and (max-width: getParam(media, laptop)) {
    .nav {
        display: flex;
        justify-content: space-between;
    }
}

// -------------------------- Tablet --------------------------

@media only screen and (max-width: getParam(media, tablet, landscape)) {
    .nav {
        display: flex;
        justify-content: center;
        font-size: getParam(fonts, size, small);
    }

    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: getParam(media, tablet, portrait)) {
    .tab {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding: getParam(paddings, normal) 1rem;
    }
}

// -------------------------- Smartphone --------------------------

@media only screen and (max-width: getParam(media, smartphones, landscape)) {
}

@media only screen and (max-width: getParam(media, smartphones, portrait)) {
}

@media only screen and (min-width: 601px) {
    .hamburger {
        background-color: chocolate;
        display: none;
    }
}
