@import '../modules/box-card';
@import '../modules/button';

$navHeight: 1.75rem;

.notification {
    width: 25%;
    height: calc(100% - 5rem);
    position: absolute;
    top: calc($navHeight);
    right: 10px;
    z-index: 1;

    display: grid;
    grid-template-rows: auto 1fr;
    background-color: getParam(colors, field, back);
    color: getParam(colors, field, fore);
    padding: getParam(paddings, normal);

    .header {
        text-align: center;
        padding: getParam(paddings, normal);
        font-size: getParam(fonts, size, big);
    }

    .messages {
        > div {
            margin: getParam(margins, small) 0;
        }
    }
}