@import '../modules/box-card';
@import '../modules/button';

.notification {
    min-width: $box-card-wrapper;
    height: calc(100% - 5rem);
    border: getBorder(field, getParam(colors, field, fore));
    position: absolute;
    top: $notification-top;
    right: getParam(margins, large);
    z-index: 2;

    display: grid;
    grid-template-rows: auto 1fr;
    background-color: getParam(colors, field, back);
    color: getParam(colors, field, fore);
    padding: getParam(paddings, normal);

    .header {
        text-align: center;
        padding: getParam(paddings, normal);
        font-size: getParam(fonts, size, normal);
        
        .title {
            font-size: getParam(fonts, size, big);
            margin-bottom: getParam(paddings, large);
        }

        .days {
            padding: getParam(paddings, tiny);
            background-color: getParam(colors, field, fore);
            color: getParam(colors, field, back);
        }
    }

    .messages {
        > div {
            margin: $box-card-margin;
        }
    }

    &:hover {
        color: getParam(colors, field, hover, fore);
    }
}