@import 'variables';
@import 'api';

body {
    font-family: getParam(fonts, font-family);

    background: getParam(colors, backgroundImage);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    opacity: getParam(colors, opacity);

    height: 98%;
}

textarea {
    resize: none;
    height: 6.25rem;
}

select, input, textarea {
    width: $inputs-width;
    background-color:  getParam(colors, area, back);
    color: getParam(colors, area, fore);
    border: none;
}

input {
    border-radius: 0.15rem;
    height: $input-height;
}

input[type="file"] {
    color: yellow;
}

select {
    border-radius: 0.6rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    text-align: left;
}

button {
    border: none;
}