@import '../base/api';

body {
    font-family: getParam(fonts, font-family);
    background-color: getParam(colors, area, back);
}

textarea {
    resize: none;
    height: 6.25rem;
}

select, input, textarea {
    width: 10.6rem;
    background-color:  getParam(colors, area, back);
    color: getParam(colors, area, fore);
    border: none;
}

input {
    height: 1.7rem;
}

select {
    border-radius: 0.6rem;
}

a {
    text-decoration: none;
    color: getParam(colors, area, fore);
}

li {
    list-style: none;
    text-align: left;
}

button {
    border: none;
}