// all themes
// ==================================================================
$forest: (
    backgroundImage: url(../../assets/images/foster-lake.jpg) no-repeat,
    header: (
        fore: rgb(99, 95, 76),
        back: rgb(233, 106, 84),
    ),
    opacity: 1,
    area: (
        fore: rgb(77, 73, 58),
        back: rgb(255, 255, 255),
        active: (
            fore: rgb(77, 73, 58),
            back: rgb(255, 255, 255),
        ),
    ),
    field: (
        fore: rgb(99, 95, 76),
        back: rgb(221, 226, 191),
        active: (
            fore: rgb(99, 95, 76),
            back: rgb(217, 223, 187),
        ),
        hover: (
            fore: rgb(99, 95, 76),
            back: rgb(217, 223, 187),
        ),
    ),
    field-sec: (
        fore: rgb(21, 32, 64),
        back: rgb(127, 199, 221),
        active: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
        hover: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
    ),
    action: (
        fore: rgb(7, 121, 228),
        back: rgb(185, 211, 236),
        active: (
            fore: rgb(9, 49, 87),
            back: rgb(233, 244, 255),
        ),
        hover: (
            fore: rgb(185, 211, 236),
            back: rgb(7, 121, 228),
        ),
    ),
);
// ==================================================================
$ice: (
    backgroundImage: url(../../assets/images/ice.jpg) no-repeat,
    header: (
        fore: whitesmoke,
        back: rgb(233, 106, 84),
    ),
    opacity: 0.95,
    area: (
        fore: rgb(21, 32, 64),
        back: rgb(226, 244, 255),
        active: (
            fore: rgb(21, 32, 64),
            back: rgb(226, 244, 255),
        ),
    ),
    field: (
        fore: whitesmoke,
        back: rgb(21, 32, 64),
        active: (
            fore: whitesmoke,
            back: rgb(32, 49, 99),
        ),
        hover: (
            fore: whitesmoke,
            back: rgb(29, 43, 85),
        ),
    ),
    field-sec: (
        fore: rgb(21, 32, 64),
        back: rgb(127, 199, 221),
        active: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
        hover: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
    ),
    action: (
        fore: rgb(7, 121, 228),
        back: rgb(185, 211, 236),
        active: (
            fore: rgb(9, 49, 87),
            back: rgb(233, 244, 255),
        ),
        hover: (
            fore: rgb(185, 211, 236),
            back: rgb(7, 121, 228),
        ),
    ),
);
// ==================================================================
$jungle: (
    backgroundImage: url(../../assets/images/jungle.jpg) no-repeat,
    header: (
        fore: whitesmoke,
        back: rgb(233, 106, 84),
    ),
    opacity: 1,
    area: (
        fore: rgb(21, 32, 64),
        back: rgb(226, 244, 255),
        active: (
            fore: rgb(21, 32, 64),
            back: rgb(226, 244, 255),
        ),
    ),
    field: (
        fore: whitesmoke,
        back: rgb(21, 32, 64),
        active: (
            fore: whitesmoke,
            back: rgb(29, 43, 85),
        ),
        hover: (
            fore: whitesmoke,
            back: rgb(29, 43, 85),
        ),
    ),
    field-sec: (
        fore: rgb(21, 32, 64),
        back: rgb(127, 199, 221),
        active: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
        hover: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
    ),
    action: (
        fore: rgb(7, 121, 228),
        back: rgb(185, 211, 236),
        active: (
            fore: rgb(9, 49, 87),
            back: rgb(233, 244, 255),
        ),
        hover: (
            fore: rgb(185, 211, 236),
            back: rgb(7, 121, 228),
        ),
    ),
);
// ==================================================================
$show: (
    backgroundImage: url(../../assets/images/snow.jpg) no-repeat,
    header: (
        fore: whitesmoke,
        back: rgb(233, 106, 84),
    ),
    opacity: 0.9,
    area: (
        fore: rgb(21, 32, 64),
        back: rgb(248, 252, 255),
        active: (
            fore: rgb(21, 32, 64),
            back: rgb(248, 252, 255),
        ),
    ),
    field: (
        fore: whitesmoke,
        back: rgb(21, 32, 64),
        active: (
            fore: whitesmoke,
            back: rgb(29, 43, 85),
        ),
        hover: (
            fore: whitesmoke,
            back: rgb(29, 43, 85),
        ),
    ),
    field-sec: (
        fore: rgb(21, 32, 64),
        back: rgb(127, 199, 221),
        active: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
        hover: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
    ),
    action: (
        fore: rgb(7, 121, 228),
        back: rgb(185, 211, 236),
        active: (
            fore: rgb(9, 49, 87),
            back: rgb(233, 244, 255),
        ),
        hover: (
            fore: rgb(185, 211, 236),
            back: rgb(7, 121, 228),
        ),
    ),
);
// ==================================================================
$dark: (
    backgroundImage: url(../../assets/images/matte-black.png) no-repeat,
    header: (
        fore: whitesmoke,
        back: rgb(233, 106, 84),
    ),
    opacity: 1,
    area: (
        fore: #303030,
        back: rgb(248, 252, 255),
        active: (
            fore: rgb(21, 32, 64),
            back: none,
        ),
        hover: (
            fore: #777777,
            back: none,
        ),
    ),
    field: (
        fore: whitesmoke,
        back: #555555,
        active: (
            fore: rgb(223, 223, 223),
            back: none,
        ),
        hover: (
            fore: rgb(223, 223, 223),
            back: #707070,
        ),
    ),
    field-sec: (
        fore: rgb(21, 32, 64),
        back: rgb(127, 199, 221),
        active: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
        hover: (
            fore: rgb(21, 32, 64),
            back: rgb(127, 199, 221),
        ),
    ),
    action: (
        fore: rgb(227, 242, 255),
        back: rgb(27, 119, 42),
        active: (
            fore: rgb(227, 242, 255),
            back: none,
        ),
        hover: (
            fore: rgb(185, 211, 236),
            back: rgb(84, 160, 97),
        ),
    ),
);
// ==================================================================

//select theme from above
$theme: $dark;