<div class="dropdown">
  <div class="header" (mouseover)="visible(true)" (mouseleave)="visible(false)">
    <div *ngIf="dropdown?.icon">
      <fa-icon class="icon" [icon]="icons[dropdown.icon]"></fa-icon>
    </div>
    <div *ngIf="!dropdown?.small" class="title">{{dropdown?.title}}</div>
    <div *ngIf="!dropdown?.small">
      <fa-icon class="icon" [icon]="icons.dropdown"></fa-icon>
    </div>
  </div>
  <ul class="options" *ngIf="showOptions" (mouseover)="visible(true)" (mouseleave)="visible(false)">
    <li class="option" *ngFor="let option of dropdown?.options" (click)="click(option)">
      <fa-icon class="icon" [icon]="icons.option"></fa-icon>
      <div>
        {{option?.name}}
      </div>
    </li>
  </ul>
</div>