@import "../base/variables";
@import "../base/api";

button {
    display: inline-block;
    min-width: $button-min-width;
    background-color: getParam(colors, action, back);
    color: getParam(colors, action, fore);
    border-radius: getParam(borders, action, rounding);
    font-size: getParam(fonts, size, small);
    padding: getParam(paddings, small) $button-padding;
    margin: $button-margin;

    .icon {
        margin-right: getParam(paddings, small);
        color: getParam(colors, field, back);
    }

    &:hover {
        background-color: getParam(colors, action, hover, back);
        color: getParam(colors, action, hover, fore);
        box-shadow: getShadow(action, getParam(colors, action, active, back));
        cursor: pointer;
        // font-weight: bolder;

        .icon {
            color: getParam(colors, action, hover, fore);
        }
    }

    &:disabled {
        cursor: no-drop;
    }
}