@import 'button';
@import 'form';
@import 'result';

.container {
    display: flex;
}

.container > div {
    margin: getParam(margins, huge) getParam(margins, large);
    width: 50%;
}

.form {
    display: flex;
}

form > div {
    margin-right: 1.8rem;
}

.company {
    position: relative;
    left: 6.25rem;
}

.title {
    font-size: getParam(fonts, size, large);
}