@import 'button';
@import 'result';
@import 'form';

.container {
    .no-items {
        color: getParam(colors, field, fore);
        font-size: getParam(font, size, normal);
    }

    margin: getParam(margins, huge) getParam(margins, large);;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
    column-gap: getParam(margins, large);
}