@import '../base/api';

.company {
    padding: getParam(paddings, normal) getParam(paddings, huge);
    background-color: getParam(colors, field, back);
    color: getParam(colors, field, fore);
    text-align: center;
    box-shadow: getShadow(field, getParam(colors, field, back));
}

select, input, textarea {
    border: getBorder(action, getParam(colors, field, back));
}