@import '../base/api';

.company {
    padding: getParam(paddings, normal) getParam(paddings, huge);
    background-color: rgb(240, 237, 227);
    text-align: center;
    box-shadow: getShadow(field, getParam(colors, field, back));
}

select, input, textarea {
    border: getBorder(action, getParam(colors, field, back));
}