.company {
    padding: 10px 30px;
    background-color: rgb(240, 237, 227);
    text-align: center;
    box-shadow: 1px 1px 2px 2px rgb(202, 197, 182);
}

select, input, textarea {
    border: 1px solid rgb(170, 162, 122);
}