@import "../base/variables";

.dropdown {
    position: relative;

    .header {
        display: grid;
        grid-auto-flow: column;
        column-gap: getParam(margins, small);
    }
    
    .options {
        position: absolute;
        top: $tab-padding;
        left: -$tab-padding;
        z-index: 3;
        min-width: ($tab-padding * 2) + ($tab-font / 1.25) * 5;
        width: max-content;
        opacity: getParam(colors, opacity);
        background-color: getParam(colors, area, back);
        color: getParam(colors, area, fore);
        padding: getParam(paddings, normal);
    
        > .option {
            display: grid;
            grid-template-columns: auto 1fr;
    
            cursor: pointer;
    
            .icon {
                margin-right: getParam(margins, small);
            }
    
            &:hover {
                border-bottom: getBorder(area, getParam(colors, field, back));
            }
        }
    }
}