@import "../base/api";

.title {
    max-width: max-content;

    .icon {
        font-size: getParam(constants, smallIconSize);
    }
}

.options {
    z-index: 1;
    position: absolute;
    background-color: getParam(colors, area, back);
    opacity: getParam(colors, opacity);
    padding: getParam(paddings, normal);
    box-shadow: getShadow(field, getParam(colors, field, back));
    color: getParam(colors, area, fore);

    > .option {
        display: grid;
        grid-template-columns: auto 1fr;

        cursor: pointer;

        .icon {
            margin-right: getParam(margins, small);
        }
    }

    > .option:hover {
        border-bottom: getBorder(area, getParam(colors, field, back));
    }
}