@import "../base/api";

.header {
    display: grid;
    grid-auto-flow: column;
    column-gap: getParam(margins, small);
}

.options {
    position: absolute;
    top: 1.6rem;
    z-index: 3;
    background-color: getParam(colors, area, back);
    opacity: getParam(colors, opacity);
    padding: getParam(paddings, normal);
    box-shadow: getShadow(field, getParam(colors, field, back));
    color: getParam(colors, area, fore);

    > .option {
        display: grid;
        grid-template-columns: auto 1fr;

        cursor: pointer;

        .icon {
            margin-right: getParam(margins, small);
        }
    }

    > .option:hover {
        border-bottom: getBorder(area, getParam(colors, field, back));
    }
}