@import "button";

.form {
    background-color: getParam(colors, field, back);
    color: getParam(colors, field, fore);
    box-shadow: getShadow(field, getParam(colors, field, active, back));
    display: inline-block;
    text-align: center;
    font-size: getParam(fonts, size, normal);
    padding: 1rem 4rem 2.5rem 4rem;

    .title {
        margin-bottom: getParam(margins, huge);
        text-align: center;
        font-size: getParam(fonts, size, large);

        .icon {
            margin-right: getParam(paddings, normal);
        }
    }

    .field {
        margin: getParam(margins, normal) getParam(margins, tiny);

        .label {
            margin-bottom: getParam(margins, small);
        }
    }

    .single-row {
        display: grid;
        grid-auto-flow: column;
        column-gap: getParam(margins, normal);
    }

    .double-width {
        * {
            width: 99%;
        }

        select {
            width: 99%;
        }
    }
}

//validations
.requiredInput,
.validation {
    margin-top: getParam(margins, tiny);
    font-size: getParam(fonts, size, small);
    color: getParam(constants, alertColor);
    font-style: italic
}

// -------------------------- Tablet --------------------------

@media only screen and (max-width: getParam(media, tablet, landscape)) {

}

@media only screen and (max-width: getParam(media, tablet, portrait)) {
   
}