@import '../base/api';
@import '../modules/popup';

.form {
    background-color: getParam(colors, field-sec, back);
    opacity: getParam(colors, opacity);
    color: getParam(colors, field-sec, fore);
    padding: 2rem 4rem;
    text-align: left;
    font-size: getParam(fonts, size, normal);

    .sub-title {
        margin-bottom: 2rem;
        font-size: getParam(fonts, size, big);
    }

    .field {
        display: grid;
        grid-template-columns: 1.3fr 2fr;
        column-gap: getParam(margins, normal);
        margin: getParam(margins, large) 0;

        .label {
            width: 100%;
        }

        > * {
            width: 100%;

            > * {
                width: 100%;
            }

            .change {
                display: block;
                text-align: right;
                color: getParam(colors, field, back);
                font-size: getParam(fonts, size, normal);
            }

            a:hover {
                color: getParam(colors, header, back);
                cursor: pointer;
                font-weight: bolder;
            }

            .gender-label {
                display: block;
                text-align: center;
            }

            .radio {
                width: 100%;
                background-color: getParam(constants, alertColor);
            }
        }

        .single-row {
            display: flex; 
        }
    }

    .button {
        text-align: center;
        margin-top: getParam(margins, huge);

        button {
            padding: getParam(paddings, large) 5rem;
            background-color: getParam(colors, field, back);
            color: getParam(colors, field, fore);
        }

        button:hover {
            cursor: pointer;
        }
    }
}

//validations
.requiredInput, .validation {
    margin-top: getParam(margins, small);
    font-size: getParam(fonts, size, small);
    color: getParam(constants, alertColor);
    font-style: italic;
}