@import "button";

.form {
    background-color: getParam(colors, field, back);
    color: getParam(colors, field, fore);
    box-shadow: getShadow(field, getParam(colors, field, hover, back));
    display: inline-block;
    text-align: center;
    font-size: getParam(fonts, size, normal);
    padding: 1rem 5rem 2.5rem 5rem;
    max-width: 11rem;

    .title {
        margin-bottom: getParam(margins, huge);
        text-align: center;
        font-size: getParam(fonts, size, large);
    }

    .form-field {
        margin: getParam(margins, normal) getParam(margins, tiny);

        .label {
            margin-bottom: getParam(margins, small);
        }
    }
}

.form:hover {
    background-color: getParam(colors, field, hover, back);
    color: getParam(colors, field, hover, fore);
}

//validations
.requiredInput,
.validation {
    margin-top: getParam(margins, small);
    font-size: getParam(fonts, size, small);
    color: getParam(constants, alertColor);
    font-weight: bolder;
}
