@import '../base/api';

.message {
    text-align: center;
    padding: getParam(paddings, small) 0;
    background-color: getParam(constants, successColor, back);
    color: getParam(constants, successColor, fore);
    font-size: getParam(fonts, size, normal);
}

.content {
    margin: 0 getParam(margins, normal);
}

.remove {
    cursor: pointer;
    position: relative;
    left: 98.5%;
    bottom: 2.8%;
    font-size: getParam(fonts, size, normal);
}

.remove:hover {
    color: getParam(constants, successColor, fore);
}