@import "../base/variables";

$navHeight: 1.75rem * 2;

.message {
    position: absolute;
    top: $nav-height;
    z-index: 2;
    background-color: getParam(constants, successColor, back);
    color: getParam(constants, successColor, fore);
    text-align: center;
    font-size: getParam(fonts, size, normal);
    width: 100%;
    padding: getParam(paddings, small) 0;


    .content {
        margin: 0 getParam(margins, normal);
    }

    .remove {
        cursor: pointer;
        position: absolute;
        top: getParam(margins, small);
        right: getParam(margins, normal);
        font-size: getParam(fonts, size, normal);
        color: getParam(constants, successColor, fore);

        &:hover {
            color: getParam(constants, successColor, fore);
        }
    }
}