@import "../base/api";

$box: getParam(fonts, size, huge);
$arrow-box: $box + 4px;
$box-gap: getParam(margins, small);

.pagination {
    width: max-content;

    display: grid;
    // ------------------ left left pages right right
    grid-template-columns: $arrow-box $arrow-box 1fr $arrow-box $arrow-box;
    column-gap: $box-gap;

    margin: getParam(margins, large) getParam(margins, small);
    font-size: getParam(fonts, size, big);
    color: getParam(colors, action, fore);

    .arrow {
        background-color: getParam(colors, action, back);
        color: getParam(colors, action, fore);
        width: $arrow-box;
        height: $arrow-box;
        //needs better positioning
        // text-align: center;
        // padding-top: getParam(paddings, small);
        > * {
            position: relative;
            top: 17%;
            left: 20%;
        }
    }

    .pages {
        display: grid;
        grid-auto-flow: column;
        column-gap: getParam(margins, small);
    }

    .page {
        align-items: center;
        width: $box;
        height: $box;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: getParam(paddings, tiny);
        background-color: getParam(colors, action, back);
        color: getParam(colors, action, fore);
    }

    .page:hover,
    .arrow:hover {
        cursor: pointer;
        background-color: getParam(colors, action, hover, back);
        color: getParam(colors, action, hover, fore);
    }

    .disabled:hover {
        border: none;
        cursor: no-drop;
    }

    .selected {
        background-color: getParam(colors, action, hover, back);
        color: getParam(colors, action, hover, fore);
    }
}

.hide {
    display: none;
}
