@import "../base/api";

$box: getParam(fonts, size, huge);
$box-gap: getParam(margins, small);

.pagination {
    width: max-content;

    display: grid;
    // ------------------ left left pages right right
    grid-template-columns: $box $box 1fr $box $box;
    column-gap: $box-gap;

    margin: getParam(margins, large) getParam(margins, small);
    font-size: getParam(fonts, size, big);
    color: getParam(colors, action, fore);

    .arrow {
        background-color: getParam(colors, field, hover, back);
        color: getParam(colors, field, hover, fore);
        width: $box;
        height: $box;
        //needs better positioning
        text-align: center;
        padding: getParam(paddings, small) getParam(paddings, tiny) 0 getParam(paddings, tiny);
    }

    .pages {
        display: grid;
        grid-auto-flow: column;
        column-gap: getParam(margins, small);
    }

    .page {
        align-items: center;
        width: $box;
        height: $box;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: getParam(paddings, tiny);
        background-color: getParam(colors, field, hover, back);
        color: getParam(colors, field, hover, fore);
    }

    .page:hover,
    .arrow:hover {
        cursor: pointer;
        background-color: getParam(colors, field, hover, fore);
        color: getParam(colors, field, hover, back);
    }

    .disabled:hover {
        border: none;
        cursor: no-drop;
    }

    .selected {
        background-color: getParam(colors, field, hover, fore);
        color: getParam(colors, field, hover, back);
    }
}

.hide {
    display: none;
}
