@import '../base/api';

.pagination {
    margin: getParam(margins, large) 25%;
    font-size: getParam(fonts, size, normal);
}

.content {
    text-align: center;
}

.page-wrapper, .arrow-wrapper {
    margin: 0 getParam(margins, small);
}

.page-wrapper {
    border-radius: 38%;
}

.page {
    padding: 0 getParam(paddings, normal);
}

.selected {
    font-weight: bolder;
}

.page-wrapper {
   padding: getParam(paddings, tiny);
   background-color: getParam(colors, action, back);
   color: getParam(colors, action, fore);
}

.page-wrapper:hover {
    background-color: getParam(colors, action, hover, back);
    color: getParam(colors, action, hover, fore);
    cursor: pointer;
}

.arrow {
    padding: getParam(paddings, small) getParam(paddings, normal);
    text-decoration: none;
    margin: 0 getParam(margins, normal);
    color: getParam(colors, action, fore);
}

.arrow-wrapper {
   padding: getParam(paddings, tiny);
}

.arrow-wrapper:hover {
    border: 2px solid rgb(220, 236, 238);
    cursor: pointer;
}


.disabled:hover {
    border: none;
    cursor: no-drop;
}