@import '../base/api';
@import './box-card';

.results {
    padding: getParam(paddings, large);
    background-color: getParam(colors, field, back);
    box-shadow: getShadow(field, getParam(colors, field, back));
}

.items {
    display: grid;
    grid-auto-flow: row;
    row-gap: getParam(margins, small);
}