@import '../base/api';

.tab {
    color: getParam(colors, field, fore);
    padding: getParam(paddings, small) getParam(paddings, normal);
    text-align: center;
}

.tab:hover {
    border-bottom: 3px solid getParam(colors, field, fore);
}

.element:hover {
    cursor: pointer;
}