@import "../base/variables";

.tab {
    display: grid;
    grid-template-columns: auto 1fr;

    color: getParam(colors, field, fore);
    padding: $tab-padding;
    text-align: center;
    font-size: $tab-font;

    .icon {
        margin-right: getParam(margins, small);
    }

    a {
        color: getParam(colors, field, fore);
    }

    &:hover {
        cursor: pointer;
        background-color: getParam(colors, field, hover, back);
        color: getParam(colors, field, hover, fore);

        a {
            background-color: getParam(colors, field, hover, back);
            color: getParam(colors, field, hover, fore);
        }
    }
}

// -------------------------- Tablet --------------------------

@media only screen and (max-width: getParam(media, tablet, landscape)) {
    .tab {
        font-size: getParam(fonts, size, small);
    }
}
