@import url(../css/_button.scss);
@import url(../css/_form.scss);
@import url(../css/_result.scss);

.container {
    display: flex;
}

.container > div {
    margin: 2% 2%;
    width: 50%;
}

.form {
    display: flex;
}

form > div {
    margin-right: 30px;
}