@import url(../css/_button.scss);

.form {
    background-color: rgb(212, 206, 171);
    box-shadow:1px 1px 4px 4px rgb(173, 167, 130);
    color: rgb(99, 99, 99);
    display: inline-block;
    text-align: center;
    font-size: 17px;
    padding: 15px 80px 40px 80px;
    max-width: 180px;
}

.form-field {
    margin: 6% 1%;
}

.title {
    margin-bottom: 10%;
    text-align: center;
    font-size: 1.5em;
}

.label {
    margin-bottom: 3%;
}

.requiredInput, .validation {
    margin-top: 2%;
    font-size: 0.8em;
    color: rgb(230, 0, 0);
}