@import url(../css/_button.scss);

.form {
    background-color: rgb(212, 206, 171);
    display: inline-block;
    font-size: 17px;
    padding: 40px;
}

.form-field {
    margin: 5% 1%;
}

.title {
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.2em;
}

.label {
    margin-bottom: 2%;
}

.requiredInput, .validation {
    color: rgb(230, 0, 0);
}