.message {
    text-align: center;
    padding: 5px 0;
    background-color: cadetblue;
    color: whitesmoke;
    font-size: 17px;
}

.content {
    margin: 0 10px;
}

.remove {
    cursor: pointer;
    position: relative;
    left: 98.5%;
    bottom: 2.8%;
    font-size: 15px;
}