.results {
    padding: 10px;
    background-color: rgb(212, 206, 171);
}

.item {
    margin-bottom: 5px;
    width: 100%;
    position: relative;
    background-color: rgb(240, 237, 227);
}

.item-field {
    display: flex;
    margin: 5px;
}

.item-field:first-child {
    
    justify-content: space-between;
}