.container {
    display: flex;
}

.container > div {
    margin: 2% 2%;
    width: 50%;
}

.self {
    width: 100%;
    border: 2px solid black;
    position: relative;
}

.self > div {
    display: flex;
    margin: 5px;
}

.self > div:first-child {
    
    justify-content: space-between;
}

.button {
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover{
    border: 2px solid rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    padding: 2px;
}

.form-raw {
    margin-bottom: 2%;
}

.back {
    margin-top: 5px;
}

form {
    display: flex;
}

form div {
    margin-bottom: 10px;
}

form > div {
    margin-right: 30px;
}

.dropdown, input {
    width: 150px;
}