@import "../../../styles/base/api";

.container {
    background-color: getParam(colors, field, back);
    border-radius: 5px;
    width: 700px;
    padding: 1rem 0;
    z-index: 9999;
    position: absolute;
    top: calc(50% - 200px); // half of width
    left: calc(50% - 350px); // half of height
}

.content {
    text-align: center;
    margin: 2rem 15rem;

    .sub-title {
        font-size: 20px;
        background-color: rgb(233, 106, 84);
        color: white;
        text-align: left;
        padding: 0.8rem 2rem;
        margin-bottom: 2rem;
    }

    .form {
        background-color: rgba(127, 199, 221, 0.9);
        color: getParam(colors, area, fore);
        padding: 2rem 6rem;
        text-align: left;
        font-size: 15px;

        .title {
            margin-bottom: 2rem;
            font-size: 25px;
        }

        .field {
            display: grid;
            grid-template-columns: 1.5fr 2fr;
            column-gap: 10px;
            margin: 1rem 0;

            .label {
                width: 100%;
            }

            > * {
                width: 100%;

                > * {
                    width: 100%;
                }

                .change {
                    display: block;
                    text-align: right;
                    color: getParam(constants, alertColor);
                    font-size: 1.1em;
                }

                a:hover {
                    cursor: pointer;
                    font-weight: bolder;
                }

                .gender-label {
                    display: block;
                    text-align: center;
                }

                .radio {
                    width: 100%;
                    background-color: getParam(constants, alertColor);
                }
            }

            .single-row {
                display: flex; 
            }
        }

        //button
        > :last-child {
            text-align: center;
            margin-top: 3rem;

            button {
                padding: 0.8rem 7rem;
                background-color: getParam(colors, field, back);
                color: getParam(colors, field, fore);
            }

            button:hover {
                cursor: pointer;
            }
        }
    }
}

.exit {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 10px; // half of width
    right: 10px; // half of height
    color: rgb(233, 106, 84);
}

.exit:hover {
    cursor: pointer;
}

.content {
    height: 100%;
    margin: 2rem 4rem;

    .form {
        padding: 1rem 4rem;
    }
}

.requiredInput, .validation {
    margin-top: getParam(margins, small);
    font-size: getParam(fonts, size, small);
    color: getParam(constants, alertColor);
    font-weight: bolder;
}