<div class="profile" [ngClass]="changePopup.visible ? 'blur' : ''">
    <header>
        <div class="title">
            {{menu.title}}
        </div>
    </header>
    <div class="content">
        <div class="title">
            {{menu.subTitle}}
        </div>
        <form class="form" #profile="ngForm" (ngSubmit)="update(profile.value)">
            <div class="sub-title">{{menu.details}}</div>
            <div class="field">
                <label class="label">{{menu.firstName}}</label>
                <input id="firstName" class="single-row" #firstNameInput="ngModel" type="text" name="firstName" [(ngModel)]="data.firstName">
            </div>
            <div class="field">
                <label class="label">{{menu.lastName}}</label>
                <input id="lastName" class="single-row" #lastNameInput="ngModel" type="text" name="lastName" [(ngModel)]="data.lastName">
            </div>
            <div class="field">
                <label class="label">{{menu.age}}</label>
                <input id="age" class="single-row" #ageInput="ngModel" type="number" name="age" [(ngModel)]="data.age">
            </div>
            <div class="field">
                <label class="label">{{menu.email}}</label>
                <div class="single-row">
                    <div id="email">{{data.email}}</div>
                    <a (click)="openChangePopup(menu.email, 'email')" class="change">{{menu.change}}</a>
                </div>
            </div>
            <div class="field">
                <label class="label">{{menu.password}}</label>
                <div class="single-row">
                    <div>********</div>
                    <a (click)="openChangePopup(menu.password, 'password')" class="change">{{menu.change}}</a>
                </div>
            </div>
            <div class="field">
                <label class="label">{{menu.gender.title}}</label>
                <!-- <div class="single-row" [(ngModel)]="user.gender">
                    <div>
                        <label class="gender-label">{{menu.gender.male}}</label>
                        <input class="radio" type="radio" value="male" name="gender" [(ngModel)]="user.gender">
                    </div>
                    <div>
                        <label class="gender-label">{{menu.gender.female}}</label>
                        <input class="radio" type="radio" value="female" name="gender" [(ngModel)]="user.gender">
                    </div>
                    <div>
                        <label class="gender-label">{{menu.gender.unspecified}}</label>
                        <input class="radio" type="radio" value="unspecified" name="gender" [(ngModel)]="user.gender">
                    </div>
                </div> -->
            </div>

            <div *ngFor="let error of errors">
                <p class="validation">{{error}}</p>
            </div>

            <div class="button">
                <button type="submit" [disabled]="profile.invalid">{{menu.submit}}</button>
            </div>
        </form>
    </div>
</div>

<app-popup [input]="changePopup" class="popup"></app-popup>