@import "../../../styles/base/api";

.profile {
    margin: 0;
    padding: 0;
}

.header {
    margin: 3rem 0;

    .title {
        background-color: getParam(colors, field, back);
        color: getParam(colors, field, fore);
        padding: 4rem;
        font-size: 70px;
    }
}

.content {
    text-align: center;
    margin: 2rem 15rem;

    .sub-title {
        font-size: 20px;
        background-color: rgb(233, 106, 84);
        color: white;
        text-align: left;
        padding: 0.8rem 2rem;
        margin-bottom: 2rem;
    }

    .form {
        background-color: rgba(127, 199, 221, 0.9);
        color: getParam(colors, area, fore);
        padding: 3rem 8rem;
        text-align: left;
        font-size: 15px;

        .title {
            margin-bottom: 2rem;
            font-size: 25px;
        }

        .field {
            display: flex;
            margin: 1rem 0;

            .label {
                width: 25%;
                margin-right: 10px;
            }

            .data {
                display: flex;
                width: 50%;

                > * {
                    width: 100%;
                }

                .change {
                    display: block;
                    text-align: right;
                    color: getParam(constants, alertColor);
                    font-size: 1.1em;
                }

                a:hover {
                    cursor: pointer;
                    font-weight: bolder;
                }

                .gender-label {
                    display: block;
                    text-align: center;
                }

                .radio {
                    width: 100%;
                    background-color: getParam(constants, alertColor);
                }
            }
        }

        //button
        > :last-child {
            text-align: center;
            margin-top: 3rem;

            button {
                padding: 0.8rem 7rem;
                background-color: rgb(2, 2, 114);
                color: white;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }
}

//tablet
@media screen and (max-width: 1000px) {
    .content {
        margin: 2rem 4rem;

        .form {
            padding: 3rem 2rem;
        }
    }
}

//mobile
@media screen and (max-width: 600px) {
    .header {
        margin: 1rem 0;

        .title {
            padding: 2rem;
            font-size: 30px;
        }
    }

    .content {
        margin: 1rem 2rem;

        .form {
            padding: 2rem 2rem;

            .title {
                margin-bottom: 1rem;
                font-size: 20px;
            }

            .field {
                .data {
                    flex-direction: column;
                    width: 60%;

                    .change {
                        text-align: left;
                    }
                }
            }

            //button
            > :last-child {
                margin-top: 1rem;

                button {
                    padding: 0.4rem 3rem;
                }
            }
        }
    }
}
