@import "../../../styles/modules/button";
@import '../../../styles/modules/header';
@import '../../../styles/modules/badge';
@import '../../../styles/modules/box-card';

.container {
    .create {
        margin: getParam(margins, small);
    }

    .posts {
        margin: getParam(margins, small) 25%;

        .post {
            background-color: getParam(colors, area, back);
            padding: getParam(paddings, large);
            margin-top: getParam(margins, normal);

            .fakeimg {
                background-color: #aaa;
                width: 90%;
                padding: 20px;
            }

            .add-comment {
                textarea {
                    height: 50px;
                    width: 100%;
                }
                background-color: getParam(colors, field-sec, back);
                padding: 20px;
            }
            
            .comments {
                background-color: getParam(colors, field-sec, back);
                padding: getParam(paddings, normal);
                
                > div {
                    margin-bottom: getParam(margins, small);
                }
            }

            .actions {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.own[emoji = like], .own[emoji = dislike] {
    color: rgb(45, 110, 185);
}

.own[emoji = laugh] {
    color: rgb(223, 223, 62);
}

.own[emoji = heart] {
    color: rgb(231, 48, 48);
}

.own[emoji = angry] {
    color: rgb(100, 11, 11);
}

.badge:hover {
    cursor: pointer;
}

.no-posts {
    color: getParam(colors, area, back);
}