<div class="container">
    <div class="create">
        <button (click)="openFormPopup()">Create post</button>
    </div>

    <header>
        <div class="title">
            Posts
        </div>
    </header>

    <div *ngIf="posts" class="posts">
        <div *ngFor="let post of posts" class="card">
            <h2>{{post.title}}</h2>
            <h5>{{post.createdOn.replace('T', ' ').slice(0, -5)}} by
                <span class="author">{{post.author.name}}</span>
            </h5>
            <div *ngIf="post.imageUrl" class="fakeimg" style="height:100px;">Image</div>
            <p>{{post.content}}</p>
            <div class="reactions">
                <span class="badge" [ngClass]="{'own': post.own === 'like' }" emoji="like">
                    <fa-icon (click)="react(post.id, 'like')" [icon]="icons.reactions.like"></fa-icon> {{post.likes}}
                </span>
                <span class="badge" [ngClass]="{'own': post.own === 'dislike' }" emoji="dislike">
                    <fa-icon (click)="react(post.id, 'dislike')" [icon]="icons.reactions.dislike"></fa-icon>
                    {{post.dislikes}}
                </span>
                <span class="badge" [ngClass]="{'own': post.own === 'laugh' }" emoji="laugh">
                    <fa-icon (click)="react(post.id, 'laugh')" [icon]="icons.reactions.laugh"></fa-icon> {{post.laughs}}
                </span>
                <span class="badge" [ngClass]="{'own': post.own === 'heart' }" emoji="heart">
                    <fa-icon (click)="react(post.id, 'heart')" [icon]="icons.reactions.heart"></fa-icon> {{post.hearts}}
                </span>
                <span class="badge" [ngClass]="{'own': post.own === 'angry' }" emoji="angry">
                    <fa-icon (click)="react(post.id, 'angry')" [icon]="icons.reactions.angry"></fa-icon>
                    {{post.angries}}
                </span>
            </div>
            <div class="actions">
                <button (click)="openFormPopup(post)">Edit</button>
                <button (click)="openConfirmPopup(post)">Delete</button>
            </div>
            <div class="add-comment">
                <form class="form" #comm="ngForm" (ngSubmit)="addComment(post.id, comm.value)">
                    <div class="field">
                        <div class="label">Content</div>
                        <textarea #contentInput="ngModel" type="text" name="content" ngModel required></textarea>
                        <p class="validation" *ngIf="contentInput.errors?.required && contentInput.touched">The Content
                            is required</p>
                    </div>
                    <div class="button">
                        <button type="submit" [disabled]="comm.invalid">Add Comment</button>
                    </div>
                </form>
            </div>

            <div class="button">
                <button (click)="post.hiddenComments = !post.hiddenComments">
                    {{post.hiddenComments ? 'Show' : 'Hide'}} comments
                </button>
            </div>

            <div *ngIf="post.comments.length > 0 && !post.hiddenComments" class="comments">
                <h4>Comments</h4>
                <div *ngFor="let comment of post.comments" class="box-card">
                    <p>{{comment.content}}</p>
                    <div *ngIf="comment.imageUrl" class="fakeimg" style="height:100px;">Image</div>
                    <h6>{{comment.createdOn.replace('T', ' ').slice(0, -5)}} by
                        <span class="author">{{comment.author.name}}</span>
                    </h6>
                    <div class="actions">
                        <button (click)="openFormPopup(post)">Edit</button>
                        <button (click)="openConfirmPopup(post)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!posts" class="no-posts">
        No posts...
    </div>
</div>

<!-- -------------- popup items -------------- -->
<app-popup [input]="formPopup"></app-popup>
<app-popup [input]="confirmPopup"></app-popup>