<div class="container">
    <div class="create">
        <button (click)="openFormPopup()">Create post</button>
    </div>
    <div class="posts">
        <h1>Posts</h1>
        <article *ngFor="let post of posts">
            <h2>
                {{post.title}}
            </h2>
            <div>
                {{post.content}}
            </div>
            <div class="by">
                Created by {{post.author.name}}
            </div>
            <div *ngIf="user?.userId === post.author.id" class="actions">
                <button (click)="openConfirmPopup(post)">Delete</button>
                <button (click)="openFormPopup(post)">Edit</button>
            </div>
        </article>

    </div>
</div>

<!-- -------------- popup items -------------- -->
<app-popup [input]="formPopup"></app-popup>
<app-popup [input]="confirmPopup"></app-popup>