@import "../../../styles/modules/button";
@import '../../../styles/modules/header';
@import '../../../styles/modules/badge';
@import '../../../styles/modules/box-card';

.create {
    margin: 20px;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

.posts {
    margin: 20px 600px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 90%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.own[emoji = like], .own[emoji = dislike] {
    color: rgb(45, 110, 185);
}

.own[emoji = laugh] {
    color: rgb(223, 223, 62);
}

.own[emoji = heart] {
    color: rgb(231, 48, 48);
}

.own[emoji = angry] {
    color: rgb(100, 11, 11);
}

.add-comment {

    textarea {
        height: 50px;
        width: 100%;
    }
    background-color: beige;
    padding: 20px;
}

.comments {
    background-color: antiquewhite;
    padding: 20px;
    
    > div {
        margin-bottom: 10px;
    }
}

.badge:hover {
    cursor: pointer;
}