<div class="container">
    <div class="switcher" (click)="switch()">
        <span>
            >
        </span>
    </div>
    <div class="content" *ngIf="model.visible">
        <header>
            <div class="title">
                Title
            </div>
        </header>
        <section>
            <div class="options">
                <div class="option">First</div>
                <div class="option">Second</div>
                <div class="option">Third</div>
                <div class="option">Fourt</div>
            </div>
        </section>
        <footer>
            <div>
                Info
            </div>
        </footer>
    </div>
</div>