<div class="notification" *ngIf="visible">
    <div class="header">
        Notifications
    </div>
    <div class="messages">
        <div *ngFor="let care of careRems">
            <div class="box-card">
                <div class="content">
                    <div class="field">
                        <label>For:</label>
                        <div>{{care.name}}</div>
                    </div>
                    <div class="field">
                        <label>Reminder:</label>
                        <div>{{care.reminder}}</div>
                    </div>
                </div>
                <div class="exit" (click)="exit(care)">
                    <fa-icon [icon]="icons.close"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>